BR2_x86_pentium2=y
# Bootlin toolchain only needs to be downloaded, saving a lot of build time
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_BOOTLIN_X86_I686_GLIBC_STABLE=y

BR2_ROOTFS_MERGED_USR=y
BR2_TARGET_GENERIC_ROOT_PASSWD="root"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/qemu/x86/linux.config"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="${BR2_EXTERNAL_CSDK_APPLIANCE_PATH}/kernel.config"
BR2_LINUX_KERNEL_ZSTD=y
BR2_PACKAGE_UTIL_LINUX=y
BR2_TARGET_ROOTFS_SQUASHFS=y
BF2_TARGET_ROOTFS_SQUASHFS4_ZSTD=y
# BR2_TARGET_ROOTFS_TAR is not set

BR2_PACKAGE_EZ80_LLVM=y
BR2_PACKAGE_CE_CSDK=y
BR2_PACKAGE_FASMG=y
